<!DOCTYPE html>
<html>
<head>
	<title>Genre</title>
	<link href="/tvreview.css" rel="stylesheet"></link> 
</head>
<body>
	<header>
		<div id="nameHeading">
			<h1><img class="tvpic" alt="television" src="/images/4567080040_0678bcb9ef_o.jpg"/>Trina's Television Show Reviews<img class="tvpic2" alt="television" src="/images/4567080040_0678bcb9ef_o.jpg"/></h1>
		</div>
	</header>
	<div class="main">
		<h2>Television Reviews</h2>

		<p>Welcome to Trina's Television Show Review page! This page will offer indepth reviews of some of the hottest shows to hit the airwaves. We take an interesting perspective on television shows, providing insight that you won't find elsewhere. Trina's reviews will help you to decide if a show is right for you.</p>

		<h2>Current Show Genre's</h2>
		<article class="genreList">
			<a th:each="currentgenre: ${genreAsCollection}" th:href="@{http://localhost:8080/onegenre/(id=${currentgenre.id})}"><div th:text="${currentgenre.title}" ></div></a>
		</article>
	</div>
	<div class="genreInfo">
		<p> If you're looking for a laugh, try Comedy!</p>
		<p>Want a pull on your emotions, try Drama!</p>
		<p>Want a look into the lives of others, try Reality!</p>
	</div>


<footer>
<p>Trina's Television Reviews</p></footer>
</body>
</html>