<!DOCTYPE html>
<html>
<head>

<title>Tag List</title>
<link href="/tvreview.css" rel="stylesheet"></link>
</head>
<body>
<div class="tagbody">
<header>
			<div id="nameHeading">
				<h1>
					<img class="tvpic" alt="television"
						src="/images/4567080040_0678bcb9ef_o.jpg" />Trina's Television
					Show Reviews<img class="tvpic2" alt="television"
						src="/images/4567080040_0678bcb9ef_o.jpg" />
				</h1>
			</div>
		</header>

		<h2>Tag List</h2>
<ul class="tagList">
			<li th:each="tag: ${tags}"><a th:text="${tag.name}" th:href="@{/tag(id=${tag.id})}"/>
			</li>
		</ul>
		<h3>Tag Cloud</h3>
<div id="tagcloud">
    <a href="#" th:each="tag : ${tagCloud}" th:rel="${tag.value}" th:text="${tag.key} + ' '"
       th:href="@{'/tag/' + ${tag.key}}" >tag</a>
    <br/>
</div>
		<footer>
			<a class="backtomain"
				th:href="@{/genres(title=${genreAsCollection})}">Back to Trina's
				Television Show Reviews</a>

			<p>Trina's Television Reviews</p>
		</footer>
		</div>
</body>
</html>